[submodule "dipha"]
	path = backends_src/dipha
	url = https://github.com/DIPHA/dipha
[submodule "oineus"]
	path = backends_src/oineus
	url = https://github.com/grey-narn/oineus
[submodule "diamorse"]
	path = backends_src/diamorse
	url = https://github.com/AppliedMathematicsANU/diamorse
[submodule "CubicalRipser_2dim"]
	path = backends_src/CubicalRipser_2dim
	url = https://github.com/CubicalRipser/CubicalRipser_2dim
[submodule "CubicalRipser_3dim"]
	path = backends_src/CubicalRipser_3dim
	url = https://github.com/CubicalRipser/CubicalRipser_3dim
[submodule "gudhi-devel"]
	path = backends_src/gudhi
	url = https://github.com/GUDHI/gudhi-devel
[submodule "phat"]
	path = backends_src/phat
	url = https://bitbucket.org/phat-code/phat.git
[submodule "PersistenceCycles"]
	path = backends_src/PersistenceCycles
	url = https://github.com/IuricichF/PersistenceCycles
[submodule "paraview-ttk"]
	path = backends_src/paraview-ttk
	url = https://github.com/pierre-guillou/paraview-ttk
[submodule "AlexanderSandwich"]
	path = backends_src/AlexanderSandwich
	url = git@github.com:pierre-guillou/ttk-guillou
	branch = dev
[submodule "backends_src/ripser"]
	path = backends_src/ripser
	url = https://github.com/Ripser/ripser
