[submodule "dipha"]
	path = dipha
	url = https://github.com/DIPHA/dipha
[submodule "oineus"]
	path = oineus
	url = https://github.com/grey-narn/oineus
[submodule "diamorse"]
	path = diamorse
	url = https://github.com/AppliedMathematicsANU/diamorse
[submodule "CubicalRipser_2dim"]
	path = CubicalRipser_2dim
	url = https://github.com/CubicalRipser/CubicalRipser_2dim
[submodule "CubicalRipser_3dim"]
	path = CubicalRipser_3dim
	url = https://github.com/CubicalRipser/CubicalRipser_3dim
[submodule "gudhi-devel"]
	path = gudhi
	url = https://github.com/GUDHI/gudhi-devel
